[Desktop Entry]
Name=natmonitor
Name[pl]=natmonitor
Comment=Monitor hosts bandwidth usage
Comment[pl]=Monitor użycia przepustowości łącza
Icon=natmonitor
Exec=natmonitor
Terminal=false
Type=Application
Categories=GTK;Network;
# vi: encoding=utf-8
